<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>
<style>
    .layui-upload-drag {
        margin-left: 109px;
    }

    form {
        position: absolute;
        margin-top: 40px;
        width: 95%;
    }
</style>
<body>
<form id="f" class="layui-form" action="" onsubmit="return false" lay-filter="formm" >
    <input type="hidden" name="id" id="id">
    <input type="hidden" name="img" id="img">
    <div class="layui-form-item">
        <label class="layui-form-label">学生姓名</label>
        <div class="layui-input-block">
            <input type="text" id="name" name="name" lay-verify="name" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">学生性别</label>
        <div class="layui-input-block">
            <input type="radio" id="sex1" name="sex" value="M" title="男">
            <input type="radio" id="sex2" name="sex" value="F" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班主任名称</label>
        <div class="layui-input-block">
            <input type="text" id="mgr" name="mgr" lay-verify="mgr" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级名称</label>
        <div class="layui-input-inline">
            <select name="classno" id="classno">
                <option value="">请选择班级</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">入学时间</label>
        <div class="layui-inline">
            <input type="text" name="bdate" id="bdate" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-upload-drag" id="upload">
        <i class="layui-icon"></i>
        <p>点击上传，或将文件拖拽到此处</p>
        <div class="layui-hide" id="uploadDemoView">
            <hr>
            <img src="" alt="上传成功后渲染" style="max-width: 196px">
        </div>
    </div>
    <center>
        <div class="layui-form-item" style="margin-top: 30px">
            <div class="layui-inline">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="sub" id="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </center>
</form>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'layer', 'upload'], function () {

        // 重写方法，自定义格式化日期
        Date.prototype.toLocaleString = function () {
            function addZero(num) {
                if (num < 10)
                    return "0" + num;
                return num;
            }

            // 按自定义拼接格式返回
            return this.getFullYear() + "-" + addZero(this.getMonth() + 1) + "-" + addZero(this.getDate());
        };

        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , upload = layui.upload
            , $ = layui.$;

        //日期
        laydate.render({
            elem: '#bdate'
        });

        var search = window.location.search;

        $.ajax({
            type:'post'
            ,url:'/student/queryByIds'+search
            ,success: function (data) {
                $('#id').val(data.id);
                $('#img').val(data.img);
                $('#name').val(data.name);
                if (data.sex == 'M') {
                    $("#sex1").prop("checked", true);
                    form.render(); //更新全部
                } else {
                    $("#sex2").prop("checked", true);
                    form.render(); //更新全部
                }
                $('#mgr').val(data.mgr);
                $.ajax({
                    type: "post",
                    url: "/classes/queryAll",
                    success: function (list) {
                        var opt = "";
                        if (null != list) {
                            opt = " <option value='0'>请选择部门</option>";
                            for (var i = 0; i < list.length; i++) {
                                if (list[i].classno == data.classno) {
                                    opt += ("<option value='" + list[i].classno + "' selected>" + list[i].classname + "</option>");
                                } else {
                                    opt += ("<option value='" + list[i].classno + "'>" + list[i].classname + "</option>");
                                }
                            }
                            $("#classno").html(opt);
                            layui.form.render('select');
                        }
                    },
                    error: function () {
                        alert("数据响应错误");
                    }
                });
                // 根据毫秒数构建 Date 对象
                var date = new Date(data.bdate);
                // 按重写的自定义格式，格式化日期
                dateTime = date.toLocaleString();
                $('#bdate').val(dateTime);
                layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', "/upload/" + data.img);
            }
        });

        form.on('submit(sub)', function (data) {
            $.ajax({
                type: 'post'
                , url: '/student/updates'
                , data: data.field
                , success: function (date1) {
                    if (date1) {
                        layer.msg('修改成功', {icon: 6});
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index)
                    } else {
                        layer.msg('修改失败', {icon: 5});
                    }
                }
            });
        });

        //监听提交
        upload.render({
            elem: '#upload',
            url: '/student/upload',
            field: 'file',//input type=file name=img
            done: function (res) {
                if (res.data.length > 0) {
                    $("#img").val(res.data[0].img);
                    layer.msg('修改图片成功', {icon: 6});
                    layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', "/upload/" + res.data[0].img);
                } else {
                    layer.msg('修改图片失败', {icon: 5})
                }
            }
        });


    });
</script>
</html>